go 1.23

use (
  ./services/auth
  ./services/users
  ./services/feed
  ./services/chat
  ./services/hus
  ./services/search
  ./services/notifications
  ./services/media
  ./services/analytics
  ./services/moderation
  ./services/dao
  ./services/creator_economy
)
