go 1.23

use (
	./lib/go
	./services/analytics
	./services/auth
	./services/chat
	./services/creator_economy
	./services/dao
	./services/feed
	./services/media
	./services/moderation
	./services/notifications
	./services/search
	./services/users
)
